/* center div  */
.container-fluid {
  height: 35rem;
  display: block;
}
.nav-item {
  display: block;
}
h1:hover {
  animation: animation1 1s;
}

.aboutMe h1 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-size: 4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  font-weight: bolder;
}
.aboutMe p {
  font-size: 1.25rem;
}
.aboutMe a {
  color: #355c7d;
  text-decoration: none;
}

.wrapper {
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  height: 10rem;
  display: flex;
  border-radius: 8px;
  /* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2); */
}
.wrapper h3 {
  color: #355c7d;
  font-size: 3rem;
}

.words span {
  animation: animation2 10s infinite;
  display: block;
  height: 100%;
  color: #0e6ffc;
  animation: spin_words 6s infinite;
}

.words {
  overflow: hidden;
  font-size: 3rem;
}

@keyframes animation2 {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  70% {
    transform: translateY(-200%);
  }
  80% {
    transform: translateY(-212%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-112%);
  }
}
@keyframes animation1 {
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
.div1 {
  border: 2px solid red;
  display: block;
}
#sidenavbar {
  border: 2px solid red;
  height: 38rem;
  background-color: rgb(177, 157, 157);
}
.aboutMe {
  border: 2px solid green;
}
.wrapper {
  border: 2px solid blue;
}
/* 




























 */
@media (max-width: 425px) {
  #sidenavbar {
    height: 4rem;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: lightgray;
    margin-bottom: 2rem;
    z-index: 9999;
  }
  .aboutMe p {
    font-size: 1rem;
  }
  .aboutMe h1 {
    color: green;
    font-size: 1.75rem;
  }
  .aboutMe {
    overflow: hidden;
    margin-top: 4rem;
  }
  .wrapper h3 {
    font-size: 1.75rem;
  }
  .words {
    font-size: 1.75rem;
  }
}
